<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Cineventure</h1>
        <h2>Cinema is not just entertainment, it's an asset .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="dark-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Case study</h3>
        <br>
        <p>Romain Cahane, one of Cineventure's main partners and directors, wanted to create a landing page for all investors and interested parties wanting to access information about this innovative asset. The idea behind it is that a fund is created to invest in various cinematographic productions in order to reap benefits from the success of one or more of these hits.</p>
        <br>
        <p id="underline">Objectives</p>
        <ul>
          <li>Single page website</li>
          <li>Fast file management and download</li>
          <li>Responsive and cross browser capabilities</li>
          <li>Periodic updates and modifications</li>
          <li>Hosting and server setup</li>
        </ul>
        <br>
        <p>Check out the project : <a href="http://www.cineventure.fr">cineventure.fr</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>