<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Marché du Café</h1>
        <h2>The specialty coffee market pushed to its full potential .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="dark-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Case study</h3>
        <br>
        <p>The specialty coffee market has been a trending niche amongst the alternative community of the world for over 20 years now. We first got interested in this movement when we tried an Panamanian natural single origin cup; it changed our lives. Marché du Café became the epicenter of research and brainstorming for a future specialty coffee venture.</p>
        <br>
        <p id="underline">Objectives</p>
        <ul>
          <li>Branding and logo design</li>
          <li>Marketing strategy</li>
          <li>Data analysis</li>
          <li>SEO and Google Analytics</li>
          <li>Shopify administration and management</li>
          <li>API and third party manipulation</li>
        </ul>
        <br>
        <p>Check out the project : <a href="http://marcheducafe.herokuapp.com/">marcheducafe.com</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>