<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>O Coffeeshop</h1>
        <h2>Paris' coolest and most delicious café .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="dark-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Case study</h3>
        <br>
        <p>Timothée Teyssier shared a common passion : specialty coffee. He had dreamed for more than two years to open his open specialty coffeeshop in Paris. After working in Australia and then in France as a barista, he had the concept, the style and the know how to open up the best extraction bar in town. All that was missing was the branding and design behind the operation.</p>
        <br>
        <p id="underline">Objectives</p>
        <ul>
          <li>Branding and logo design</li>
          <li>Digital marketing strategy</li>
          <li>Email and newsletter setup</li>
        </ul>
        <br>
        <p>Check out the project : <a href="https://www.facebook.com/O-coffeeshop-899618906724142/">ocoffeeshop.fr</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>