<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>OCP Finance</h1>
        <h2>An investment fund like no other, right on the Champs Elysees .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="dark-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Case study</h3>
        <br>
        <p>As one of the leading funds in startups and coworking infrastructure in France, OCP Finance had been using a 2009 design for their front end and a backoffice that would give any accountant a headache. We worked together in giving a face lift to the entire UX for clients and potential investors to be welcomed with a flat designed, clean homepage. The backoffice was a little difficult as their was lots of refactoring and optimizing to do before working on the interface itself. In the end the site turned up fast, efficient and beautiful.</p>
        <br>
        <p id="underline">Objectives</p>
        <ul>
          <li>Front and backend wireframing</li>
          <li>Backoffice redesign</li>
          <li>Fast file management and download</li>
          <li>Responsive web application</li>
          <li>Amazon S3 bucket ecosystem</li>
          <li>Database able to hold thousands of records</li>
          <li>Branding and logo design</li>
          <li>Google Analytics setup and tracking</li>
          <li>Hosting and server setup</li>
        </ul>
        <br>
        <p>Check out the project : <a href="http://www.ocpfinance.com/">ocpfinance.com</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>