<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Pardini & Asociados</h1>
        <h2>From aviation to offshore to IP, PardiniLaw handles your business .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="dark-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Case study</h3>
        <br>
        <p>After having the same website for almost 7 years, Pardini & Asociados contacted me to give the law firm's digital image a proper overhaul. It wasn't just about the website itself, but also about the newsletters that were sent monthly and publications that were sent to clients. The idea was to use modern design and web architecture but to stay true to the legal industry's standards.</p>
        <br>
        <p id="underline">Objectives</p>
        <ul>
          <li>Website wireframing</li>
          <li>Backoffice redesign</li>
          <li>Static page distribution</li>
          <li>Branding and logo design</li>
          <li>Digital marketing strategy</li>
          <li>Email and newsletter setup</li>
        </ul>
        <br>
        <p>Check out the project : <a href="http://www.pardinilaw.com/">pardinilaw.com</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>