<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Sport Me</h1>
        <h2>The sports portal connecting fans with their teams .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="dark-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Case study</h3>
        <br>
        <p>A group of Parisian entrepreneurs working in different industries decided to get together and bring fanatics the ultimate sporting experience : your image in your favorite player's jersey. By pixeling numerous sports fans into a player's number, Sport Me was creating a whole new way of experiencing the adrenaline and the emotion behind supporting a team. The challenge would be the platform that would hold all these teams, fans and images since this is was would be showng to Liverpools to the Chicago Bulls and to the Stade Francais teams.</p>
        <br>
        <p id="underline">Objectives</p>
        <ul>
          <li>Powerful image management and download</li>
          <li>Responsive web application</li>
          <li>Multi-language i18n (Spanish, French, English)</li>
          <li>Amazon S3 bucket ecosystem</li>
          <li>Database able to hold thousands of records</li>
          <li>Branding and logo design</li>
          <li>Email campaign and newsletters</li>
          <li>Google Analytics setup and tracking</li>
          <li>Hosting and server setup</li>
        </ul>
        <br>
        <p>Check out the project : <a href="http://sportme.herokuapp.com">sportme.fr</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="light-work-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>