<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Sport Me</h1>
        <h2>The sports portal connecting fans with their teams .</h2>
        <br>
      </div>
    </div>
  </div>
</div>