<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Who we are</h1>
        <h2>It's quite simple, we are us .</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="about-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p id="keyword">We are a web development and design company in Paris .</p>
        <p>Since 2014 we have been sketching, compiling, testing, launching, debugging and doing it all over again. We developed a passion for computers and the web from an early age. We have built PCs with 32MB of RAM. We have drawn logos on Paint. And we wouldn't switch Ruby on Rails for anything. Like Jobs, we believe that computers are the bicycles of the mind.</p> 
        <br>
        <p>Our founder created Pardini Co. to deliver a mix of inhouse services that is very difficult to get in today's market.</p>
        <ul>
          <li>Rapid prototyping</li>
          <li>Modern, efficient design</li>
          <li>First to Market strategy</li>
          <li>Data analytics</li>
          <li>Monetisation, ecommerce</li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</div>

