<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>We are craftsmen of the web</h1>
        <h2>Applications . Websites . Ecommerce .</h2>
        <br>
        <a href="/contact"><button type="button" class="btn btn-accept">Work with us</button></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="stats-container">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-2">
        <p>Websites & apps built</p>
        <p><span id="digit">32</span></p>
      </div>
      <div class="col-lg-2">
        <p>Commits made to Git</p>
        <p><span id="digit">323</span></p>
      </div>
      <div class="col-lg-2">
        <p>Lines of code online</p>
        <p><span id="digit">340,429</span></p>
      </div>
      <div class="col-lg-2">
        <p>Tech stacks used</p>
        <p><span id="digit">17</span></p>
      </div>
      <div class="col-lg-2">
        <p>Logos sketched</p>
        <p><span id="digit">244</span></p>
      </div>
      <div class="col-lg-2">
        <p>Countries worked with</p>
        <p><span id="digit">11</span></p>
      </div>
    </div>
  </div>
</div>
<a id="mission"></a>
<div class="container-fluid" id="services-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <p><i class="fa fa-slack" aria-hidden="true"></i> Consulting</p>
          <p class="descriptor">Have you read The Lean Startup ? Read it. We use Agile Methodology to accelerate failure, iteration and success.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-language" aria-hidden="true"></i> UX & Design</p>
          <p class="descriptor">Design is everything. Wireframes, logos, icons, images and the flow of your project. We create the ideal user experience.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-database" aria-hidden="true"></i> Architecture</p>
          <p class="descriptor">The brain and the engine of the project. We use the latest technologies to increase the edge, the security and the speed.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-connectdevelop" aria-hidden="true"></i> Marketing</p>
          <p class="descriptor">Third party providers can make your digital reach increase 100x. Newsletters, customer service and Instagram make the game.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-area-chart" aria-hidden="true"></i> Analytics</p>
          <p class="descriptor">To optimise we need to learn and measure. We use analytics to see user behavior, acquisition, processing and conversion.</p>
        </div>
        <div class="col-lg-4">
          <p><i class="fa fa-bitcoin" aria-hidden="true"></i> Monetisation</p>
          <p class="descriptor">Data shows patterns which turn into decisions. Using that we can guide the user through events that lead to monetisation.</p>
        </div>
    </div>
  </div>
</div>
