<div class="container-fluid" id="cta-container">
  <div class="container">
    <div class="row">
    <div class="col-lg-8">
        <h2>For <strong>every hour</strong> you spend thinking about an idea there are <strong>3600 seconds</strong> that are not being spent on making it happen ? Don't wait any longer.</h2>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-clock-o" aria-hidden="true" style="font-size:15em;"></i>
      </div>
      <div class="col-lg-8">
        <h2>For <strong>every hour</strong> you spend thinking about an idea there are <strong>3600 seconds</strong> that are not being spent on making it happen ? Don't wait any longer.</h2>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-clock-o" aria-hidden="true" style="font-size:15em;"></i>
      </div>
    </div>
  </div>
</div>