<div class="container-fluid" id="header-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Contact us now</h1>
        <h2>We will get back to you before the end of the day</h2>
        <br>
        <%= render 'form' %>

      </div>
    </div>
  </div>
</div>