#blog-index-container {
  table {

    td {
      font-size: 1.7em;
      font-weight: 300;
      padding: 1em 1em 1em 0;
    }
  }
  margin-bottom:3em;
  a {
    color: #1e1e1e;
    &:hover {
      text-decoration:none;
      background:white;
      color:#03C9A9;
    }
  }
  #bold-post-title {
    font-weight:500;
    border-bottom: 2px solid #03C9A9;
    padding-bottom: 0.7em;
    padding-top:1em;
  }
}

#blog-show-container {
  p {
    font-size: 1.7em;
    font-weight:300;
    line-height: 1.1em;
  }
}

.new_post {
  input, textarea{
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0.5em;
    font-size:1.5em;
    width:100%;
    margin:1em 0;
  }
  
  .btn-contact {
    margin-right: 1em;
    font-size:1.8em;
    border-radius: 6px;
    margin:0;
    background: #03C9A9;
    color:white;
    border:none;
  }

}

.edit_post {
  input, textarea{
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0.5em;
    font-size:1.5em;
    width:100%;
    margin:1em 0;
  }
  
  .btn-contact {
    margin-right: 1em;
    font-size:1.8em;
    border-radius: 6px;
    margin:0;
    background: #03C9A9;
    color:white;
    border:none;
  }

}