<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul>
          <li><a href="/">Back to Home</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <a href="http://www.github.com/ubersapiens"><i class="fa fa-github fa-2x" aria-hidden="true" id="social-icon"></i>
        <a href="http://www.twitter.com/juanpardiniii"><i class="fa fa-twitter fa-2x" aria-hidden="true" id="social-icon"></i></a>
        <a href="mailto:jfpardini@gmail.com"><i class="fa fa-paper-plane fa-2x" aria-hidden="true" id="social-icon"></i></a>
      </div>
    </div>
  </div>
</footer>